* {
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: antiquewhite;
  margin: 0;
  /*padding-top: 50px;*/
}
h1 {
  color: white;
  background-color: skyblue;
  text-align: center;
  border-color: brown;
  border-style: solid;
}
h2 {
  color: rgb(255, 80, 240);
  background-color: aquamarine;
  text-align: center;
  border-style: dashed;
  border-color: rgb(255, 80, 240);
}
/*cabecera fixed vs cabecera sticky*/
.header {
  background-color: orchid;
  width: 100%;
  height: 50px;
}
.fixed-top {
  position: fixed;
  top: 0;
}
.sticky-top {
  position: sticky;
  top: 0;
}
.hero-image {
  background-color: yellowgreen;
  width: 100%;
  height: 100vh;
}
/*Efecto de diapositivas*/
.slide {
  background-color: plum;
  width: 100%;
  height: 100vh;
}
.slide:nth-child(odd) {
  background-color: palevioletred;
}
.slide-title {
  background-color: palegreen;
  padding: 16px;
  text-align: center;
  position: sticky;
  top: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
/*Ventana modal*/
.modal-window {
  background-color: black;
  color: white;
  /* position: absolute; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  display: none;
}
.modal-window:target {
  display: block;
}
